<%- include("templates/cabecera",{titulo:"Enviar un feedback"}) %>
<link rel="stylesheet" href="./css/style_succededmsg.css">
<div class="principal" >
    <h1 class="title_succeded">✔ MENSAJE ENVIADO CON EXITO</h1>
    <%- include("templates/feedback") %>
  
  <%- include("templates/footer") %>