<style>
    .footer {
        background-color: #FFD747;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding:30px 0px 30px 0px;
    }
    .info_footer {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .info_footer img{
        height: 70px;
    }
    .info_footer a{
        text-decoration: none;
        color: black;
        font-size: 1.4em;
    }
    .social_medias_info{
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }  
    .social_medias_info a{
        text-decoration: none;
        color: black;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 1.2em;
    }
    .developer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .developer img{
        height: 120px;
    }
    @media screen and (max-width:1000px) {
        .footer{
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
<div class="footer">
    <div class="info_footer">
        <img src="http://imgfz.com/i/TWRfDlg.png" alt="">
        <a href="https://yacuiba.alg.academy/" target="_blank">Algorithmics Yacuiba</a>
        
    </div>
    <div class="social_medias_info">
        <a href="https://www.instagram.com/algorithmics_yacuiba/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i>Instagram</a>
        <a href="https://www.instagram.com/algorithmics_yacuiba/" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i>Facebook</a>
        <a href="https://www.instagram.com/algorithmics_yacuiba/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i>LinkedIn</a>
    </div>
    <div class="developer">
        <img src="http://imgfz.com/i/8pQD4jv.png" alt="">
        <a href=""></a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>