
<nav class="navbar ">
    <div class="container-fluid">
      <img src="http://imgfz.com/i/TWRfDlg.png" alt="">
      <a class="navbar-brand" href="#"><%- titulo %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="/" style="display: flex;align-items: center;gap: 10px;"><i class="fa fa-home"></i>Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="send_feedback" style="display: flex;align-items: center;gap: 10px;"><i class="fa fa-check"></i>Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="backoffice" target="_blank" style="display: flex;align-items: center;gap: 10px;"><i class="fa fa-link"></i>Backoffice Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="plataforma_alumnos" target="_blank" style="display: flex;align-items: center;gap: 10px;"><i class="fa fa-link"></i>Plataforma Alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>